.heading {
    font-family: "Shadows Into Light", cursive;
    font-size: 70px;
    color: darkslategray; 
}
/* .semi-circular-border {
   
   
    border: 1px solid dodgerblue;
    border-radius: 9999px 9999px 9999px 9999px;
    
    width: 9rem;
    height: 3rem;
   
    
  } */
  .semi-circular-border {
    border: 1px solid dodgerblue;
    border-radius: 9999px;
    width: 9rem;
    height: 3rem;
  }
  
  
  .custom-font {
    font-family: 'Edu AU VIC WA NT Hand', cursive;
  }
  
